
#admin-logo{
    visibility:hidden;
}

@media screen and (min-width: 800px) {
      #admin-logo{
    visibility:visible;
    }
}
.gd{
    background: -webkit-linear-gradient(0deg,#ff9000 0,red 10%,#0a00b2 40%);
    -webkit-background-clip: text;
    display: inline-block;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.bar{
    background: linear-gradient(to right, black 50%, white 50%);
}
